<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>dschlabach.basescan</string>
		<key>category</key>
		<string>Productivity</string>
		<key>connections</key>
		<dict>
			<key>87201F07-2FD1-492C-81B9-A043207C0462</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>2AA0E77B-1E1F-4851-97C3-CB84DA76DB6C</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false />
				</dict>
			</array>
		</dict>
		<key>createdby</key>
		<string>Dan Schlabach</string>
		<key>description</key>
		<string>Quick links to BaseScan</string>
		<key>disabled</key>
		<false />
		<key>name</key>
		<string>BaseScan</string>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>browser</key>
					<string></string>
					<key>skipqueryencode</key>
					<false />
					<key>skipvarencode</key>
					<false />
					<key>spaces</key>
					<string></string>
					<key>url</key>
					<string></string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.openurl</string>
				<key>uid</key>
				<string>2AA0E77B-1E1F-4851-97C3-CB84DA76DB6C</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false />
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttreatemptyqueryasnil</key>
					<false />
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>1</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>bs||bss</string>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<true />
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Loading BaseScan options...</string>
					<key>withspace</key>
					<false />
					<key>script</key>
					<string>./scripts/basescan.sh "$1"</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>subtext</key>
					<string>Paste a Basename, address, transaction hash, or block number</string>
					<key>title</key>
					<string>BaseScan</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true />
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>87201F07-2FD1-492C-81B9-A043207C0462</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>2AA0E77B-1E1F-4851-97C3-CB84DA76DB6C</key>
			<dict>
				<key>xpos</key>
				<real>640</real>
				<key>ypos</key>
				<real>265</real>
			</dict>
			<key>87201F07-2FD1-492C-81B9-A043207C0462</key>
			<dict>
				<key>xpos</key>
				<real>360</real>
				<key>ypos</key>
				<real>270</real>
			</dict>
		</dict>
		<key>userconfigurationconfig</key>
		<array />
		<key>version</key>
		<string>1.0.0</string>
		<key>webaddress</key>
		<string>https://github.com/dschlabach/alfred-basescan</string>
	</dict>
</plist>